@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('/lesson07/fonts_proximanova/stylesheet.css');
@import url('/lesson07/fonts_futuraPT/stylesheet.css');


:root {
    --WHITE: #ffffff;
    --WHITE1: #fefefe;
    --BLECK: #000000;
    --BLECK1: #181818;
    --GREY: #e8eced;
    --GREY1:#767676;
    --GREY2:#edeff2;
    --GREY3:#8f8f8f;
    --GREY4:#b4b4b4;
    --GREY5:#2a2a2a;
    --GREY6: #464f54;
    --YELLOW: #fbc02d;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.header__text {
width: 57px;
height: 10px;
color: var(--GREY1);
font-family: 'Proxima Nova', serif;
font-size: 15px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 109.03px;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 4.8px;
line-height: normal;
}
  .header__title {
width: 342px;
height: 40px;
color: var(--WHITE1);
font-family: 'Playfair Display', serif;
font-size: 48px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 94.03px;
text-align: left;
font-style: normal;
letter-spacing: normal;
line-height: normal;
  }
  .main__text--data {
width: 211px;
height: 17px;
color: var(--GREY4);
font-family: 'Proxima Nova', serif;
font-size: 20px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 6.72px;
line-height: normal;
  }
  .main__title {
width: 755px;
height: 54px;
color: var(--GREY5);
font-family: 'Futura PT', serif;
font-size: 78px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 73.52px;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 5.28px;
line-height: normal;
  }
  .main__text--cursive {
width: 551px;
height: 30px;
color: var(--GREY3);
font-family: "Georgia - Italic", serif, ;
font-size: 30px;
font-style: italic;
letter-spacing: normal;
line-height: 62.44px;
text-align: justifyLeft;
font-style: normal;
letter-spacing: normal;
line-height: normal;
  }
  .main__text {
color: #000000;
  }
  .conteiner {
width: 1200px;
height: 900px;
    background-color: var(--GREY6);
  }
  .main {
width: 1060px;
height: 1195px;
background-color: var(--WHITE);
  }
  .header {
width: 876px;
height: 187px;
background-color: var(--BLECK1);
  }
  .list {
width: 876px;
height: 76px;
background-color: var(--YELLOW);
  }
 .fornat {
   width: 38px;
   height: 32px;
 }
 .format_size {
  width: 30px;
  height: 23px;
 }
 .scenery {
  width: 28px;
  height: 27px;
 }
 .bold {
width: 20px;
height: 26px;
 }
 .italic {
  width: 19px;
  height: 22px;
 }
 .underline {
  width: 22px;
  height: 27px;
 }
 .align_centr {
  width: 28px;
  height: 27px;
 }
 .align_left {
  width: 28px;
  height: 27px;
 }
 .centr {
  width: 28px;
  height: 27px;
 }
 .align_right {
  width: 28px;
  height: 27px;
 }
