@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("/lesson07/fonts/proximanova/stylesheet.css");
@import url("/lesson07/fonts/futuraPT/stylesheet.css");

:root {
  --WHITE: #ffffff;
  --WHITE1: #fefefe;
  --BLECK: #000000;
  --BLECK1: #181818;
  --GREY: #e8eced;
  --GREY1: #767676;
  --GREY2: #edeff2;
  --GREY3: #8f8f8f;
  --GREY4: #b4b4b4;
  --GREY5: #2a2a2a;
  --GREY6: #464f54;
  --YELLOW: #fbc02d;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header__text {
  width: 57px;
  height: 10px;
  color: var(--GREY1);
  font-family: "Proxima Nova", serif;
  letter-spacing: 4.8px;
  font-size: 15px;
  margin-top: 50px;
  margin-left: 63px;
  width: 1px;
}
.header__input {
  width: 355px;
  height: 40px;
  color: var(--WHITE1);
  font-family: "Playfair Display", serif;
  font-size: 48px;
}
.header_line {
  margin-top: 134px;
  margin-left: 60px;
  position: absolute;
  width: 816px;
  height: 3px;
  background-color: var(--WHITE);
  opacity: 0.1;
}
.main_line {
  margin-left: 67px;
  position: absolute;
  border-left: 1px;
  width: 2px;
  height: 100%;
  background-color: var(--GREY);
}
.main__text--data {
  width: 211px;
  height: 17px;
  color: var(--GREY4);
  font-family: "Proxima Nova", serif;
  font-size: 20px;
  letter-spacing: 6.72px;
  padding-top: 202px;
  margin-left: 125px;
  width: 300px;
}
.main__title {
  width: 755px;
  height: 54px;
  color: var(--GREY5);
  font-family: "Futura PT", serif;
  font-size: 78px;
  letter-spacing: 5.28px;
  padding-top: 47px;
  margin-left: 120px;
  width: 900px;
}
.main__text--cursive {
  width: 551px;
  height: 30px;
  color: var(--GREY3);
  font-family: "Georgia - Italic", serif;
  font-size: 30px;
  font-style: italic;
}
.main__text--top {
  width: 806px;
  height: 143px;
  color: #000000;
  font-family: Georgia;
  font-size: 27px;
  line-height: 40.38px;
  padding-top: 80px;
  margin-left: 120px;
  margin-right: 130px;
}
.main__text {
  width: 806px;
  height: 143px;
  color: #000000;
  font-family: Georgia;
  font-size: 27px;
  line-height: 40.38px;
  padding-top: 120px;
  margin-left: 120px;
  margin-right: 130px;
}
.main_text--itali {
  font-style: italic;
}
.main__text--cursive {
  padding-top: 80px;
  margin-left: 120px;
}
body {
  background-color: var(--GREY6);
}
.container {
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 1200px;
}
.main {
  width: 1060px;
  height: 1195px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.22);
  background-color: var(--WHITE);
  border-left: #8f8f8f;
  flex-direction: column;
  margin: 149px;
}
.header {
  margin-top: 47px;
  width: 876px;
  height: 187px;
  background-color: var(--BLECK1);
  display: flex;

  margin-left: 383px;
  position: absolute;
}
.header__text {
  margin-top: 50px;
  margin-left: 63px;
  width: 1px;
}
.header__input {
  background-color: var(--BLECK1);
  border: 0 solid #181818;
  outline: none;
  color: var(--WHITE1);
  margin-top: 80px;
  margin-left: 1px;
}
.list {
  width: 812px;
  height: 76px;
  background-color: var(--YELLOW);
  list-style-type: none;
  display: flex;
  align-content: center;
  padding: 22px;
  position: absolute;
  margin-top: 234px;
  margin-left: 447px;
}
.list__item {
  margin-right: 25px;
}
.svg_icon {
  fill: #fddf96;
  width: 31px;
  height: 25px;
}
.svg_icon--format {
  fill: #fddf96;
  width: 38px;
  height: 31px;
}
.svg_icon:hover {
 fill: var(--WHITE1);
}
.svg_icon--format:hover {
  fill: var(--WHITE1);
}
