.list {
    max-width: 750px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: $white;
    list-style: none;
    padding: 2px;
}
.list__block {
    display: inline-block;
    padding: 30px;
    margin: 2px;
    height: 115px;
    width: 18%;
}