$white: #ffffff;
$blue: #2b81ac;
$lisbon: #3399cc;
$paris: #33cccc;
$belgrade: #996699;
$moscow: #c24747;
$tel_aviv: #e2674a;
$cair: #ffcc66;
$newyork: #99cc99;
$new_delhi: #669999;
$san_francisco: #cc6699;
$tokyo: #339966;
$sydney: #666699;