$white: #ffffff;
$blue: #2b81ac;
$lisbon: #3399cc;
$paris: #33cccc;
$belgrade: #996699;
$moscow: #c24747;
$tel_aviv: #e2674a;
$cair: #ffcc66;
$newyork: #99cc99;
$new_delhi: #669999;
$san_francisco: #cc6699;
$tokyo: #339966;
$sydney: #666699;

$color-list: #595c8d, #008e5c, #fc5a8e, #008d8c, #4ec58f, #ffc260, #ff5844,
  #ee393e, #ac5c8d, #00c6c4, #0091c3, #0078a1;